body {
background-color: #ffffcc;
color: #330000;
font-family: Veranda,Arial, sans-serif;
}

#container{ margin: auto;
width:80%;
min-width:700px;
background-color:#E8D882;
border:2px double black;
}

#logo{
background-color:#ccaa66;

}